html,
body {
  margin: 0;
  padding: 0;
  font: normal 100% Helvetica, Arial, sans-serif;
  background: #efefef;
}

.container {
  /*max-width: 900px;*/
}

.ul {
  list-style: none;
  background-color: #444;
  /*text-align: center;*/
  padding: 0;
  margin: 0;
}
.li {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.a:hover {
  background-color: #005f5f;
}

.a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 300px) {
  .li {
    width: 100px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
  }

  /* Option 1 - Display Inline */
  .li {
    display: inline-block;
    margin-right: -4px;
  }

  /* Options 2 - Float
  .li {
    float: left;
  }
  .ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .{
    background-color: #444;
  }
  */
}
