.header {
  text-align: center;
  color: #fff;
  font-size: 1.6em; 
  background-color: #616161;
  padding:.4em;
  margin-bottom: .7em;
}

.btn {
  border: none;
  background: none;
  font-size: 1.0em;
  cursor: pointer;
  color: #fff;
}
