html,
body {
  margin: 0;
  padding: 0;
  font: normal 100% Helvetica, Arial, sans-serif;
  background: #efefef;
}

.container {
  /*max-width: 900px;*/
  background-image: url("http://static.v2ex.com/tiles/random.jpg");
  background-repeat: repeat;

}

.header {
  background-color: #444;
  /*text-align: center;*/
}

.div {
  margin: auto;
  max-width: 900px;
}

.ul {
  list-style: none;
  /*text-align: center;*/
  padding: 0;
  margin: 0;
}
.li {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.a:hover {
  background-color: #70B7FD;
}

.a:active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

.aActive{
  background-color: #70B7FD;
}

@media screen and (min-width: 300px) {
  .li {
    width: 100px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
  }

  .li {
    display: inline-block;
    margin-right: -4px;
  }
}

.header2 {
  text-align: center;
  /*color: #efefef;*/
  font-size: 1.7em;
  /*background-color: #616161;*/
  /*padding:.3em;*/
  margin-top: .3em;
}

.btn {
  border: none;
  background: none;
  font-size: 1.0em;
  cursor: pointer;
  padding:0.1em;
  /*color: #efefef;*/
}