/**
* "Google Now" Card
*/
body {
  background: #e1e1e1;
  min-height: 100%;
  margin: auto;
}
ul.gNow {
  width: 450px;
  height: 100%;
  float: left;
  padding: 0;
}
ul.gNow li {
  width: 430px;
  float: left;
  list-style: none;
  padding: 10px;
}
div.card {
  background: #fff;
  width: 400px;
  position: relative;
  padding: 15px;
  box-shadow: 0px 3px rgba( 0, 0, 0, 0.1 );
  font-family: Open Sans;
  color: #444;
  font-size: 14px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
div.card p {
  margin: 0 0 15px 0;
}
div.card p.card-title {
  font-size: 28px;
}
div.card p.url {
  border-top: 1px solid #e5e5e5;
  background-image: url('http://www.eriklindemann.com/wp-content/uploads/2013/05/url.png');
  background-repeat: no-repeat;
  padding: 6px 0 0 30px;
  height: 30px;
  display: block;
  margin-bottom: -10px;
}
div.card p.url a {
  color: #04bff4;
  text-decoration: none;
  top: 4px;
  width: 385px;
  display: block;
  position: relative;
}
div.card img.full {
  width: 430px;
  margin: 0 0 15px -15px;
}
