
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font: 17px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #e2e2e2;
  color: #4e4e4e;
  font-smoothing: antialiased;
  font-weight: 300;
}



