
.box {
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
  margin: .7em;
  background: #fff;
}

.site {
  color: #4b4b4b;
  text-align: center;
  padding: .1em;
  background: #f1f1f1;
}

.link {
  color: #333;
  display: block;
  padding: .5em;
  border-bottom: solid .4em #e2e2e2;
}

.link:link, .link:visited, .link:active {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
