
.box {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin: .7em;
  background: #fff;
  // border-top: solid 4px rgba(45, 188, 61, 0.78);
}

.site {
  text-align: center;
}

.link {
  color: #4e4e4e;
  display: block;
  padding: .5em;
  border-top: solid .4em #e2e2e2;
}

.link:link, .link:visited, .link:active {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
