.header {
  text-align: center;
  /*color: #efefef;*/
  font-size: 1.7em;
  /*background-color: #616161;*/
  /*padding:.3em;*/
  margin-top: .3em;
}

.btn {
  border: none;
  background: none;
  font-size: 1.0em;
  cursor: pointer;
  padding:0.1em;
  /*color: #efefef;*/
}

/*.btn:hover{
  color: #999;
}*/
